<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1">
<title>后台管理</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/easy-bootstrap-admin.css">
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/respond.min.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/common.js"></script>
</head><body>





</body></html>